@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-porcelain text-slate-900 font-body antialiased;
}

::selection {
  @apply bg-accent-200 text-midnight;
}

html {
  scroll-behavior: smooth;
}
